// auth styles 
.auth_row_head {
    height: 100vh;
    width: 100%;
    margin: 0 !important;

    &>div {
        padding: 0;
    }

    .auth_content {
        display: grid;
        place-items: center;
        height: 100%;

        &>form,
        &>div {
            width: 100%;

            header {
                // margin-bottom: 25px;

                h2 {
                    color: var(--primary-color);
                    font-size: 4rem;
                    font-weight: 700;
                    margin-bottom: 5px;
                }

                p {
                    color: var(--label-light);
                    font-size: 1.8rem;
                    font-weight: 500;

                    a {
                        color: var(--primary-dark-color);
                        font-weight: 500;
                    }

                    span.danger {
                        color: var(--danger-color);
                    }
                }

            }

            div:has(.input_label) {
                margin-bottom: 2px;

                .input_label {
                    text-align: left;
                }
            }

            p {

                &.label {
                    color: var(--primary-color);
                    font-size: 1.8rem;
                    font-weight: 500;

                }

                &.terms {
                    color: var(--label-light2);

                    a {
                        color: var(--primary-color);
                    }
                }

                a {
                    color: inherit;
                    font-size: inherit;
                    font-weight: inherit;

                    &.angledLink {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        grid-gap: 4px;

                        svg {
                            height: 2.4rem;
                            width: 2.4rem;
                        }

                        &:hover {
                            &.left {
                                svg {
                                    transform: translateX(-5px);

                                }
                            }
                        }
                    }
                }
            }

            h4,
            h3 {
                color: var(--text-dark);
                font-size: 2.5rem;
                font-weight: 400;
                margin-bottom: 16px;
            }

            h3 {
                font-size: 4rem;
                font-weight: 600;
                margin-bottom: 0;
            }

            .progress__container {
                max-width: 55.8rem;
                width: 100%;

                &>* {
                    cursor: pointer;
                }
            }

            .dateInput {
                input {
                    padding-left: 40px !important;
                }

                .dateSelector {
                    top: 50%;
                    left: 12px;
                    transform: translateY(-50%);
                    cursor: pointer;

                    &:hover {
                        svg {

                            path,
                            rect,
                            circle {
                                &.stroke {
                                    stroke: var(--primary-color);
                                }

                                &.fill {
                                    fill: var(--primary-color);
                                }
                            }

                        }
                    }
                }
            }

            .otp__form {
                .v-otp-input {
                    justify-content: flex-start;
                    grid-gap: 0px;

                    .v-input {
                        color: var(--primary-dark-color2);

                        &* {
                            color: inherit;
                            transition: all 0.2s ease-in-out;
                        }

                        .v-input__control {
                            .v-input__slot {
                                background: transparent;

                                fieldset {
                                    border: none;
                                    border-bottom: 2px solid var(--label-light);
                                    border-radius: 0;
                                }

                                .v-text-field__slot {
                                    input {
                                        font-size: 4rem;
                                        font-weight: 500;
                                    }
                                }
                            }
                        }

                        &.v-input--is-focused {
                            .v-input__control {
                                .v-input__slot {

                                    fieldset {
                                        border-bottom-color: var(--primary-color);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .passwordStrength {
                .passwordStrength__progress {
                    display: flex;
                    align-items: center;
                    margin-top: 8px;
                    grid-gap: 8px;

                    &>* {
                        flex: auto;
                    }
                }

            }

            &.auth_content__login {
                max-width: 48.2rem;
                margin: 0 auto;
            }

            &.auth_content__register {
                max-width: 110.4rem;
                margin: 57px auto;

                &>div {
                    &:last-child {
                        margin-top: 37px;
                    }
                }

                .radio__input {
                    margin-left: 45px;
                    max-width: 36.4rem;
                    margin-top: 22px;
                    transition: height 0.25s ease-in-out;

                    input,
                    select {
                        max-height: 100%;
                    }
                }
            }

            &.auth_content__welcome {
                max-width: 110.4rem;
                margin: 56px auto;

                .welcomeHeader {
                    margin-bottom: 42px;
                }

                .membersContainer {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 15px;
                    min-height: 5.6rem;
                    border-radius: 5px;
                    border: 1px solid var(--border1);
                    padding: 7px 14px;

                    ul {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 15px;
                        padding: 0;
                        margin: 0;

                        li {
                            list-style-type: none;
                            padding: 9px;
                            margin: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 6px;
                            background-color: var(--bg-dark2);
                            border-radius: 30px;
                            color: var(--text-dark);

                            span {
                                font-size: 2rem;
                                font-weight: 400;
                                display: inline-block;

                                &::first-letter {
                                    text-transform: uppercase;
                                }
                            }

                            .deleteBtn {
                                cursor: pointer;

                                &:hover {
                                    svg {

                                        path,
                                        rect,
                                        circle {
                                            &.stroke {
                                                stroke: var(--danger-color);
                                            }

                                            &.fill {
                                                fill: var(--danger-color);
                                            }
                                        }

                                    }
                                }
                            }

                            &:has(form) {
                                padding: 0;
                                background-color: transparent;
                                border: none;
                                border-radius: 0;
                                flex: auto;
                            }
                        }
                    }

                    form {
                        flex: auto;

                        .input_field {
                            border: none !important;
                            box-shadow: none !important;
                            outline: none !important;
                            max-height: 4rem !important;
                            border-radius: 0;
                            padding-inline: 0;
                            // width: 100%;
                            min-width: 5.6rem;

                        }
                    }

                }

                .buttonTop {
                    margin-top: 54px;
                }

                .welcome_iframe {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 16/9;
                }
            }

            &.auth_content__email {
                max-width: 110.4rem;
                min-height: 72.5rem;
                margin: 56px auto;

                p {
                    max-width: 55.1rem;
                    margin: 0 auto;
                }
            }

            &.borderedRow {
                border-radius: 5px;
                border: 1px solid var(--border2);
                padding: 38px 36px;

                &>* {
                    padding-inline: 0;
                }
            }
        }

        &:has(.borderedRow) {
            padding: 12px;
        }

        .authLogo {
            // display: block;
            // text-align: center;
            // margin-bottom: 25px;

            svg {
                width: 6rem;
                height: 6rem;
            }
        }
    }
}

// password field 
.password_field {
    input {
        padding-right: 40px;
    }

    .password_toggle {
        top: 50%;
        right: 12px;
        transform: translateY(-40%);
        cursor: pointer;

        &:hover {
            svg {

                path,
                rect,
                circle,
                ellipse {
                    &.stroke {
                        stroke: var(--primary-color);
                    }

                    &.fill {
                        fill: var(--primary-color);
                    }
                }

            }
        }
    }

    &.dropdown {
        cursor: pointer;

        input {
            max-width: 18.2rem;
            text-align: center;
        }

        &:hover {
            input {
                border-color: var(--primary-color);
            }

            svg {

                path,
                rect,
                circle {
                    &.stroke {
                        stroke: var(--primary-color);
                    }

                    &.fill {
                        fill: var(--primary-color);
                    }
                }

            }
        }
    }
}

// label input 
.svgLeft {
    input {
        padding-left: 45px;
    }

    label {
        top: 50%;
        left: 12px;
        transform: translateY(-40%);
        cursor: pointer;
        display: block;
        width: max-content;
        height: max-content;

        svg {
            width: 2.9rem;
            height: 2.9rem;

            path,
            rect,
            circle,
            ellipse {
                &.stroke {
                    stroke: var(--label-light);
                }

                &.fill {
                    fill: var(--label-light);
                }
            }

        }
    }

    &:has(input:focus),
    &:has(input.hasValue) {
        label {
            svg {

                path,
                rect,
                circle,
                ellipse {
                    &.stroke {
                        stroke: var(--primary-color);
                    }

                    &.fill {
                        fill: var(--primary-color);
                    }
                }

            }
        }
    }
}

// dropDown list or list item styles
.list_container {
    margin: 0;
    padding: 0 !important;
    // border-radius: 0 !important;

    .dropdown__list-item {
        padding: 0 20px;
        margin: 4px;
        border-radius: inherit;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        .dropdown__list-title {
            font-weight: 500;
            font-size: 1.6rem;
            text-transform: capitalize;
            color: var(--text-dark);
        }


        .nav_svg {
            svg {
                width: 3rem;
                height: 3rem;
            }
        }

        &:not(.noHover):hover,
        &:not(.noHover).v-list-item--active {
            background-color: var(--primary-lte-color2);
            max-width: 100%;
            transition: all 0.2s ease-in-out;
        }

        &.noHover {
            max-width: 100% !important;
        }

        &.beezlinq {
            padding: 0 !important;
            cursor: auto;

            .nav_svg {
                svg {
                    width: 4rem;
                    height: 4rem;
                }
            }

            .dropdown__list-title {
                font-weight: 700;
                font-size: 4rem;
            }

            .arrowed {
                position: relative;
                bottom: -11px;
                cursor: pointer;

                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }

        &.mini {
            max-width: 85% !important;
        }

        &::before {
            border-radius: inherit;
        }

        &.activeTab {
            background-color: var(--primary-color);
            transition: all 0.2s ease-in-out;

            .dropdown__list-title {
                transition: all 0.2s ease-in-out;
                color: var(--text-dark);
            }
        }
    }

    &.nav__list {
        &.topNav {
            height: 100%;
            overflow-y: scroll;
        }

        max-width: 85%;
        padding-block: 12px !important;
        width: 100%;
        margin: 0 auto;

        .dropdown__list-item {
            max-width: 90%;
            width: 100%;
            min-height: 3.8rem;
            padding: 6px 16px;
            border-radius: 8px;
            margin: 0 auto 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.modal__list {
        .dropdown__list-item {
            .dropdown__list-title {
                color: var(--text-dark);
            }

            &:not(.noHover):hover,
            &:not(.noHover).active {

                .dropdown__list-title {
                    color: var(--inactive3);
                }
            }
        }
    }
}

.bottomNavContainer {
    border-top: 1px solid var(--primary-lte-color3);
}

// topBar
header.topBarWrapper {
    .v-toolbar__content {
        padding-block: 0;
    }

    .topBar {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        // &>* {
        //     flex: auto;
        // }

        .left_side {
            flex-grow: 1;
            height: 100%;
            border-right: 1px solid var(--border);
        }

        .right_side {
            display: flex;
            grid-gap: 63px;
            padding-left: 20px;
            align-items: center;
            justify-content: flex-end;

            .noti_container {
                height: max-content;
                width: max-content;
                padding: 0;
                margin: 0;


                svg {
                    height: 3rem;
                    width: 3rem;
                }

                div.absolute {
                    width: 1.4rem;
                    height: 1.4rem;
                    border: 2px solid var(--text-dark);
                    border-radius: 50%;
                    background-color: var(--danger-color);
                    top: -1px;
                    right: 2px;
                    z-index: 2;
                }
            }
        }

    }
}

// page styles 
body:has(.v-main) {
    background-color: var(--bg-light);

    .v-main {
        background-color: var(--bg-light);

        section {
            &.pageContent {
                // max-width: 107.5rem;
                max-width: 151.2rem;
                margin: 0 auto;
                height: 100%;
                padding: 32px 40px;
                position: relative;
                animation: transIn 0.3s ease-in-out;

                h2.page_head {
                    color: var(--primary-dark-color);
                    font-size: 3rem;
                    font-weight: 700;
                    margin-bottom: 12px;
                }
            }
        }
    }
}

// card_wrapper
.card_wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    grid-gap: 14px;
    height: 100%;
    margin-bottom: 16px;
}

// reusable cards 
.card_container {
    padding: 14px 24px;
    border-radius: 8px;
    background: var(--card1);
    flex: auto;
    height: 100%;
    min-width: 21rem;
    min-height: 10rem;
    color: var(--primary-dark-color);

    h4 {
        &.titleCard {
            color: currentColor;
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 6px;
        }

        &.titleCardBold {
            font-size: 1.8rem;
            font-weight: 700;
            margin-bottom: 0;
        }
    }

    p {
        color: var(--primary-dark-color);
        font-size: 1.4rem;

        &.main_text {
            font-weight: 400;
            flex-grow: 1;

            a {
                font-weight: 500;
            }
        }

        &.time_line {
            color: var(--label-light3);
            font-size: 1.2rem;
            font-weight: 400;
            min-width: max-content;
        }

        &.date {
            min-width: max-content;
        }

        &.label {
            color: var(--label-light3);
            font-size: 1.3rem;
            font-weight: 500;
        }

        a {
            color: var(--primary-dark-color);
            font-weight: 500;
        }

        &.titleSubtext {
            color: currentColor;
            font-size: 3rem;
            font-weight: 700;
        }

        &.subtext {
            color: var(--label-light3);
            font-size: 1.4rem;
            font-weight: 500;
        }
    }

    .img_context {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        grid-gap: 8px;
        margin-bottom: 14px;

        .img_container {
            min-width: 4rem;
            max-width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: var(--bg-light);
            display: flex;
            // overflow: hidden;

            img {
                border-radius: inherit;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top center;
                aspect-ratio: 1/1;
            }

            &.small {
                min-width: 2.8rem;
                max-width: 2.8rem;
                height: 2.8rem;
            }

        }

        .user__date {
            display: flex;
            align-items: center;
            grid-gap: 8px;

            p {
                flex-grow: 0;
            }
        }

        &.tableFormat {
            padding-bottom: 8px;
            border-bottom: 2px solid var(--bg-light);

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }

    .card_table.v-data-table.theme--light {
        background-color: transparent;

        table {
            thead {
                tr {
                    th {
                        color: var(--primary-dark-color);
                        font-size: 1.4rem;
                        font-weight: 500;
                        padding-inline: 0;
                    }

                }
            }

            tbody {
                tr {
                    td {
                        color: var(--primary-dark-color);
                        font-size: 1.2rem;
                        font-weight: 400;
                        padding-inline: 0;
                        border-bottom: 2px solid var(--bg-light);

                        a {
                            color: inherit;
                            font-weight: 500;
                        }
                    }

                    &.large1 {
                        td {
                            &:first-child {
                                width: 65%;
                            }

                            p {
                                font-weight: 500;
                            }
                        }
                    }

                    &:hover {
                        background-color: var(--primary-lte-color) !important;
                    }
                }
            }
        }

        &.no_hover {
            table {
                tbody {
                    tr {
                        td {
                            border-bottom: none !important;
                            padding-bottom: 8px;
                        }

                        &:hover {
                            background-color: transparent !important;
                        }
                    }
                }
            }
        }
    }

    .border__header {
        padding-bottom: 7px;
        border-bottom: 2px solid var(--bg-light);
    }

    // chart__label
    .chart__label {
        display: flex;
        align-items: center;
        grid-gap: 16px;

        span {
            color: var(--label-light3);
            font-size: 1.2rem;
            font-weight: 400;

            &.ball {
                min-width: 1rem;
                display: inline-block;
                height: 1rem;
                border-radius: 100%;

            }
        }
    }

    // button__controls
    .button__controls {
        display: flex;
        align-items: center;
        grid-gap: 8px;
    }

    // view__more
    .view__more {
        text-align: right;
        margin-block: 7px;

        a {
            color: var(--primary-color);
            font-size: 1.2rem;
            font-weight: 400;
        }
    }

    .radio__filter {
        .v-input {
            margin: 0;

            .v-input__slot {
                margin-bottom: 0;

                .v-input--radio-group__input {
                    grid-gap: 24px;

                    label {
                        color: currentColor;
                        font-size: 1.6rem;
                        font-weight: 500;
                    }

                    .radio_active {
                        label {
                            color: var(--primary-dark-color);
                        }
                    }
                }
            }
        }
    }

    &.stats {
        min-height: 43rem;
    }

    &.no_inline {
        padding-inline: 0;

        &>div {
            padding-inline: 16px;
        }
    }
}

// sub_break_down
.sub_break_down {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    height: 100%;

    &>* {
        flex: auto;
        height: auto;
    }
}

// tootip 
.v-tooltip__content.listTool {
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    opacity: 1 !important;
    padding: 8px;
    max-width: 11rem;
    line-height: 11px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-dark2);

    &::before {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 0 10px 10px 0;
        border-color: transparent var(--bg-dark);
        bottom: -4px;
        left: 50%;
        transform: translateX(-40%) rotate(135deg);
    }

    .tooltip__span {
        color: currentColor;

    }
}

// dropDown list 
.v-menu__content:has(.dropdown__list) {
    border-radius: 8px !important;
    border: 1px solid var(--border) !important;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);

    .dropdown__list {
        margin: 0;
        padding: 0 !important;
        box-shadow: none;
        background-color: var(--text-dark) !important;

        .dropdown__list-item {
            padding: 0 16px;
            border-radius: inherit;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            margin-bottom: 5px;
            min-height: max-content;

            .dropdown__list-title {
                text-transform: capitalize;
                color: var(--primary-dark-color);
                font-size: 1.2rem;
                font-weight: 400;
            }

            &:not(.noHover):hover,
            &:not(.noHover).active {
                background-color: var(--primary-lte-color);
                transition: all 0.2s ease-in-out;

                .dropdown__list-title {
                    font-weight: 600;
                    color: var(--primary-color);
                }
            }

            &.activeTab {
                background-color: var(--primary-color);
                transition: all 0.2s ease-in-out;

                .dropdown__list-title {
                    transition: all 0.2s ease-in-out;
                    color: var(--text-dark);
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            &.noHover {
                background-color: var(--text-dark) !important;
                cursor: auto;
                height: auto;
                overflow: hidden;

                .filter__header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    span {
                        text-transform: capitalize;
                        color: var(--primary-dark-color);
                        font-weight: 500;
                        font-size: 1.8rem;
                    }

                    .Btn {
                        border-radius: 6px;
                        text-transform: capitalize;
                        min-width: 8.3rem;
                        height: 3.5rem !important;

                        span {
                            color: var(--primary-color);
                            font-weight: 400;
                            font-size: 1.4rem;
                        }
                    }

                    svg {
                        cursor: pointer;
                        transform: all 0.2s ease-in-out;

                        &:hover {
                            transform: all 0.2s ease-in-out;

                            path {
                                stroke: var(--danger-color);
                            }
                        }
                    }
                }

                .statusFilter {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    &.dates {
                        gap: 13px;
                        margin-top: 15px;
                    }

                    .dateInput {
                        display: flex;
                        width: 100%;
                        align-items: center;

                        .label {
                            font-weight: 500;
                            font-size: 1.4rem;
                            color: var(--label-third-color);
                            width: 20%;
                        }

                        input {
                            height: 4rem;
                            width: 80%;
                            border: 1px solid var(--border-third-color);
                            border-radius: 8px;
                            background-color: #fff;
                            padding: 10px 17px;

                            &:focus {
                                background-color: var(--primary-light-color);
                                border: 1px solid var(--primary-color) !important;
                                outline: none;
                                transition: all 0.2s ease-in-out;
                            }

                            &::placeholder {
                                font-weight: 500;
                                font-size: 1.4rem;
                                color: var(--label-second-color);
                            }
                        }

                        &.minMax {
                            padding-left: 35px;
                            justify-content: space-between;

                            input {
                                width: 48%;
                                padding: 0 17px;
                            }
                        }

                        &.simpleInput {
                            input {
                                width: 100%;
                            }
                        }
                    }

                    .Btn {
                        margin-bottom: 21px;
                        border-radius: 8px;
                        height: 4.4rem;
                        // width: 95%;
                        text-transform: capitalize;
                        box-shadow: none;
                        color: #fff;
                        font-weight: 600;
                        font-size: 1.6rem;
                    }

                    .v-input {
                        margin-block: 3px 5px !important;

                        .v-input__slot {
                            margin-bottom: 0;

                            .v-input--radio-group__input {
                                grid-gap: 8px;

                                label {
                                    color: currentColor;
                                    font-size: 1.6rem;
                                    font-weight: 500;
                                }

                                .radio_active {
                                    label {
                                        color: var(--primary-dark-color);
                                    }
                                }
                            }
                        }

                        .v-messages {
                            display: none;
                        }
                    }
                }

            }

            &.tag {
                background-color: var(--table) !important;
                cursor: auto;
                min-height: 4.4rem;
                margin-top: 11px;

                .tag-title {
                    font-weight: 500;
                    font-size: 1.6rem;
                    color: var(--primary-dark-color);
                }
            }
        }

    }
}

// search__area
.search__area {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    grid-gap: 15px;
    flex-wrap: wrap;

    .search_input_area {
        min-width: 37rem;

        input {
            border-radius: 8px;
            width: 100%;
            border: 1px solid var(--border2);
            background: var(--text-dark);
            height: 4.8rem;
            padding-right: 60px;
        }

    }

    .actions__area {
        display: flex;
        align-items: center;
        grid-gap: 8px;
    }
}